.container {
  max-width: 430px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 40px;
  padding: 10px;
  background-color: #f4cd6e;
}

.logo {
  font-size: 20px;
}

.settings {
  cursor: pointer;
}

.listContainer {
  overflow: hidden;
  position: relative;
  margin: 12px;
}

.list {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
}

.listItem {
  min-width: 100px;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
